body{
  @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
font-family: 'Noto Sans TC',sans-serif;
}


.container{
  padding-top:20px;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
  margin-top: 30px;
}

#button{
  color: #666;
  border: 0px;
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  background-color: #eee;
  font-size:14px;
}

#button:hover{
  color: #000;
  border: 1px solid #a9a9a9;
}

#result{
  font-size:x-large;
  text-align: left;
  padding-top: 20px;
}

#weight {
  margin: 0px 10px;
  padding: 0px 50px;
}



